 body{
    margin: 0px;
 }

 ul{
    list-style: none;       /* quita las viñetas a la lista */
    padding: 0px;       /* quita el padding o margen */
    margin: 0px;
 }

 .mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
 }

 .mainContainer > main{
   height: 100%;
 }

 .mainContainer > footer{
   background: linear-gradient(to right, rgb(79, 167, 108), rgba(126, 180, 144, 0.904));
    padding: 10px;
   
 }

 .navbar{
    display:flex;           /* Los elementos de la lista queden uno al lado del otro */
    padding: 10px 40px;
    justify-content: center;
    background: linear-gradient(to right, rgb(79, 167, 108), rgba(126, 180, 144, 0.904));
    border-bottom: 2px solid gray;      /* Pone un borde para separar el header del main */
    box-shadow: 1px 1px solid gray;
 }

 .navbar > span{
     text-align: end;
 }
 
 .logo1{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
 }

 .mainFooter{
    display: flex;
    padding: 5px;
    margin-left: 48%;
 }

 .mainFooter > span{
    margin-left: 15px;
    padding-top: 7px;
 }

 .logo2{
    display: flex;
    height: 30px;
    
 }

 .contenedor-login {
    display: block;
    justify-content:space-around;
    background-color: white;
    border: 1px solid rgb(36, 187, 111);
    top: 35%;
    left: 40%;
    position: absolute;
    padding: 30px;
    border-radius: 8px;
    height: 200px;
    
  }

  .contenedor-login > li{
     padding-bottom: 20px;
  }

  .user{
     display: flex;  
  }

  .user > input {
   outline: none;
   border: 1px solid rgb(79, 167, 108);
   margin-top: -4px;
   margin-left: 8px;
   border-radius: 8px;
   padding: 5px;
   font-size: 15px;
  }

  .contenedor-login > button{
     outline: none;
     border: 1px solid rgb(29, 70, 46);
     background-color: rgb(79, 167, 108);
     border-radius: 8px;
     color: white;
     font-size: 15px;
     font-weight: bolder;
     padding: 6px;
     margin-left: 35%;
     margin-top:30px;

  }

  label{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 12px;
     margin-left: 20px;
  }
  
  button:hover{
     background-color: gray;
  }


 

